{% extends 'base.html.twig' %}

{% block title %} Annuler Sortie | Sortir.com{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/annulation.css') }}">
{% endblock %}
{% block body %}
        
        <div class=" container detail">

                        <div class="row min-vw-100 lignes">
                            <div class="col-md-12 ligne">
                                <span><strong>Nom de la sortie : </strong>{{ sortie.nom }}</span>
                            </div>
                            <div class="col-md-12 ligne">
                                <span><strong>Date de la sortie : </strong>{{ sortie.dateHeureDebut | date('d/m/Y') }}</span>
                            </div>

                            <div class="col-md-12 ligne">
                                <span><strong>Campus :</strong>{{ sortie.campus }}</span>
                            </div>

                            <div class="col-md-12 ligne">
                                <span><strong>Lieu : </strong>{{ sortie.lieu }}</span>
                            </div>
                            <div class="col-md-12 ligne">
                                {{ form_start(annulationForm) }}
                                <p><strong>Motif:</strong></p>
                                {{ form_widget(annulationForm.motif,{ 'attr': {'cols': '50','rows' :'10'} })}}</div>
                            <div class="col-md-12 ligne">
                                 {{ form_widget(annulationForm.confirmer, {'attr':{'class':'btn btn-success'}}) }}
                                <a href="{{ path('accueil') }}" class="btn btn-primary btn-lg">Retour</a>
                                {{ form_end(annulationForm) }}
                             </div>


                        </div>
        </div>

{% endblock %}
