{% extends 'base.html.twig' %}

{% block title %} Annuler Sortie | Sortir.com{% endblock %}

{% block body %}
        
        <div>

                        <div>
                                <span>Nom de la sortie : </span>
                        </div>
                        <div>
                                <span>{{ sortie.nom }}</span>
                        </div>
                        
                        <div>
                                <span>Date de la sortie : </span>
                        </div>
                        <div>
                                <span>{{ sortie.dateHeureDebut | date('d/m/Y') }}</span>
                        </div>
                        
                        <div>
                                <span>Campus : </span>
                        </div>
                        <div>
                                <span>{{ sortie.campus }}</span>
                        </div>
                        
                        <div>
                                <span>Lieu : </span>
                        </div>
                        <div>
                                <span>{{ sortie.lieu }}</span>
                        </div>

                        {{ form_start(annulationForm) }}
                        
                        {{ form_row(annulationForm.motif) }}
            {{ form_row(annulationForm.delete) }}

                        {{ form_end(annulationForm) }}
{#                        <div>#}
{#                                <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>#}
{#                        </div>#}
                        <div>
                                <a href="{{ path('accueil') }}" class="btn btn-primary btn-lg">Retour</a>
                        </div>

        </div>

{% endblock %}
