{% extends 'base.html.twig' %}

{% block title %} Annuler Sortie | Sortir.com{% endblock %}

{% block body %}
        
        <div>

                        <div>
                                <span>Nom de la sortie : </span>
                        </div>
                        <div>
                                <span>{{ sortie.nom }}</span>
                        </div>
                        
                        <div>
                                <span>Date de la sortie : </span>
                        </div>
                        <div>
                                <span>{{ sortie.dateHeureDebut | date('d/m/Y') }}</span>
                        </div>
                        
                        <div>
                                <span>Campus : </span>
                        </div>
                        <div>
                                <span>{{ sortie.campus }}</span>
                        </div>
                        
                        <div>
                                <span>Lieu : </span>
                        </div>
                        <div>
                                <span>{{ sortie.lieu }}</span>
                        </div>

                        {{ form_start(annulationForm) }}
                        
                        {{ form_row(annulationForm.motif) }}

                        <div>
                            {{ form_widget(annulationForm.enregistrer, {'attr':{'class':'btn btn-success'}}) }}
                            <a href="{{ path('accueil') }}" class="btn btn-primary btn-lg">Retour</a>
                        </div>

            {{ form_end(annulationForm) }}

        </div>

{% endblock %}
