{% extends 'base.html.twig' %}

{% block title %}Hello GererVillesController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des Campus</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://blog.roomgo.co.uk/wp-content/uploads/2016/04/europe.jpg" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table" id="editableTable">
                                <thead>
                                {% if campus %}
                                    <th>ID</th>
                                {% endif %}
                                <th>Nom</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>
                                {{ form_start(campusForm) }}
                                <tr>
                                    {% if campus %}
                                        <td>{{ campus.id }}</td>
                                    {% endif %}
                                    <td>{{ form_widget(campusForm.nom) }}</td>
                                    <td> {{ form_widget(campusForm.ajouter, {'attr':{'class':'btn btn-success'},'label':'Confimer'})}}
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        {{ form_end(campusForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


