{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {{ form_start(formUser) }}
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10"><h1>Profil</h1></div>
        </div>
        <div class="row">
            <div class="col-sm-3"><!--left col-->
                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                    <h6>Upload a different photo...</h6>
                    {{ form_row(formUser.file) }}

                </div></hr><br>
            </div><!--/col-3-->
            <div class="col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <form class="form" action="##" method="post" id="registrationForm">
                            <div class="form-group">

                                <div class="col-xs-6">
                                    {{ form_row(formUser.pseudo, {'attr':{'placeholder':'Pseudo','class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    {{ form_row(formUser.nom, {'attr':{'placeholder':'Nom','class':'form-control'}}) }}
                                 </div>
                             </div>

                             <div class="form-group">

                                 <div class="col-xs-6">
                                     {{ form_row(formUser.prenom, {'attr':{'placeholder':'Prenom','class':'form-control'}}) }}
                                   </div>
                               </div>

                               <div class="form-group">
                                   <div class="col-xs-6">
                                       {{ form_row(formUser.phone, {'attr':{'placeholder':'Phone','class':'form-control'}}) }}
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <div class="col-xs-6">
                                         {{ form_row(formUser.mail, {'attr':{'placeholder':'Email','class':'form-control'}}) }}
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <div class="col-xs-6">
                                           {{ form_row(formUser.password, {'attr':{'placeholder':'Password','class':'form-control'}}) }}
                                         </div>
                                     </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    {{ form_row(formUser.campus, {'attr':{'placeholder':'Campus','class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    {{ form_row(formUser.confirm_password, {'attr':{'placeholder':'Password','class':'form-control'}}) }}
                                </div>
                            </div>
                                     <div class="form-group">
                                         <div class="col-xs-12">
                                             <br>
                                             <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                             <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                         </div>
                                     </div>
                                 </form>
                        {{ form_end(formUser) }}
                         </div>
                    </div><!--/tab-pane-->
                </div><!--/tab-content-->
            </div><!--/col-9-->
        </div><!--/row-->
    </div>

{% endblock %}
