{% extends 'base.html.twig' %}

{% block title %}Hello GererVillesController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des villes</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://i.redd.it/ajdo2kqr4c421.jpg" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table" id="editableTable">
                                <thead>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Code Postal</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>
                                {{ form_start(villeForm) }}
                                    <tr>
                                        <td>{{ ville.id }}</td>
                                        <td>{{ form_widget(villeForm.nom) }}</td>
                                        <td>{{ form_widget(villeForm.codePostal) }}</td>
                                        <td> {{ form_widget(villeForm.ajouter, {'attr':{'class':'btn btn-success'},'label':'Confimer'})}}
                                            <a href="{{ path('adminsupprimer_villes', {'id': ville.id}) }}" class="btn btn-danger">Supprimer</a> </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        {{ form_end(villeForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


