{% extends 'base.html.twig' %}


{% block title %} Accueil | Sortir.com {% endblock %}
{% block stylesheet %} {{ parent() }}{%endblock %}

{% block body %}
    <div class="date-nom">
        <p>Date du jour : {{ 'now' |date('d/m/Y') }}<br>
        Participant : {# to do : ajouter le nom du participant #}</p>
    </div>

    <div>
        <h3>Filtrer les sorties</h3>
        {{ form_start(filtresForm) }}

        {{ form_widget(filtresForm) }}

        <button type="submit" class="btn btn-primary btn-lg">Rechercher</button>
        <a href="{{ path('accueil') }}"><button type="button"  class="btn btn-primary btn-lg">Réinitialiser</button></a>

        {{ form_end(filtresForm) }}
    </div>

    <table class="table">
        <thead class="thead-light">

        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in listeSorties %}
            <tr>
                <th scope="row">{{ sortie.nom }}</th>
                <td>{{ sortie.dateHeureDebut|date('d-m-y h:h') }}</td>
                <td>{{ sortie.dateLimite|date('d-m-y h:m') }}</td>
                <td>{{ sortie.nbInscrits }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat }}</td>
                <td>{%  for inscription in sortie.inscriptions %}
                        {% if inscription.participant == app.user %} X {% endif %}
                    {% endfor%}</td>
                <td>{{ sortie.organisateur }}</td>
                <td>{% if sortie.organisateur != app.user%}
                            {% if sortie.id in listeInscriptions %}
                                <a href="{{ path('afficherSortie',{'id':sortie.id}) }}">Afficher</a> -
                                {% if sortie.etat.libelle != 'Passée' and sortie.nbInscrits < sortie.nbInscriptionsMax %}
                                <a href="{{ path('desister',{'id':sortie.id}) }}">Se désister</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('afficherSortie',{'id':sortie.id}) }}">Afficher</a> -
                                {% if sortie.etat.libelle != 'Passée' and sortie.nbInscrits< sortie.nbInscriptionsMax  %}
                                    <a href="{{ path('sinscrire',{'id':sortie.id}) }}">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                    {% elseif sortie.etat.libelle == "Passée"%}
                        <a href="{{ path('afficherSortie',{'id':sortie.id}) }}">Afficher</a>
                        {% else %}
                            <a href="{{ path('modifierSortie',{'id':sortie.id}) }}">Modifier</a> - <a href="{{ path('annulation_sortie', {'id':sortie.id}) }}">Supprimer</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>

        <a class="btn btn-primary" href="{{ path('create_sortie')}}">Créer une sortie</a>

    </div>
{% endblock %}
