{% extends 'base.html.twig' %}

{% block title %} Accueil | Sortir.com {% endblock %}

{% block body %}
    <div class="date-nom">
        <p>Date du jour : {{ 'now' |date('d/m/Y') }}<br>
        Participant : {# to do : ajouter le nom du participant #}</p>
    </div>

    <div>
        <h3>Filtrer les sorties</h3>
        {{ form_start(rechercherForm) }}

        {{ form_widget(rechercherForm) }}

        <button type="submit" class="btn btn-primary btn-lg">Rechercher</button>
        {{ form_end(rechercherForm) }}
    </div>

    <table class="table">
        <thead class="thead-light">

        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in listeSorties %}
            <tr>
                <th scope="row">{{ sortie.nom }}</th>
                <td>{{ sortie.dateHeureDebut|date('d-m-y mm:h') }}</td>
                <td>{{ sortie.dateLimite|date('d-m-y mm:h') }}</td>
                <td>{{ sortie.nbInscrits }}0/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat }}</td>
                {# <td>{% if user. == sortie.inscriptions %} X {% else %} {% endif %}</td>#}
                <td>{{ sortie.organisateur }}</td>
                <td><a href="#">Afficher</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div>
        <input type="button" value="Créer une sortie">
    </div>

{% endblock %}
