<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheet %}
        <title>{% block title %}Accueil | Sortir.com{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="shortcut icon" href="{{ asset('icone/laugh.png') }}"/>
        {% block head %}{% endblock %}
    </head>
    <body>
    <div class="jumbotron text-center upperJumbotron" style="margin-bottom:0">
        <h1>Sortir.com</h1>
        <p></p>
    </div>

    {% block nav %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="{{ path('accueil') }}"><img src="{{ asset('icone/laugh64.png') }}" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('accueil') }}">Accueil</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('adminindex') }}">ADMIN</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil',{'id':app.user.id}) }}">{{ app.user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout')}}">Se déconnecter</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login')}}">Se connecter</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
    {% endblock %}
        <div class="main">
            {% block body %}{% endblock %}
        </div>

    <footer>
        <div class="jumbotron text-center bg-dark text-white mt-4" style="margin-bottom:0; padding:1em">
            <p>&copy; {{ "now"|date("Y") }} Sortir.com <br>
            Créé par Jean-Baptiste, Firas & Charlotte<br>
                Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
        </div>
    </footer>

        {% block javascript %}{% endblock %}

    </body>
</html>
