{% extends 'base.html.twig' %}

{% block title %}Hello AfficherSortieController!{% endblock %}

{% block body %}
    <div class="container d-md-flex align-items-stretch">
        <div class="p-4 p-md-5 pt-5">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ sortie.nom }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="sortie Pic" src="https://magiclight.net/wp-content/uploads/2020/02/entete.jpg" class="img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-sortie-information">
                                <tbody>
                                <tr>
                                    <td>Nom de la sortie:</td>
                                    <td>{{ sortie.nom }}</td>
                                </tr>
                                <tr>
                                    <td>Date et heure de la sortie:</td>
                                    <td>{{ sortie.dateHeureDebut|date("m/d/Y") }}</td>
                                </tr>
                                <tr>
                                    <td>Date limite d'inscription:</td>
                                    <td>{{ sortie.dateLimite|date("m/d/Y") }}</td>
                                </tr>
                                <tr>
                                    <td>Nombre de places:</td>
                                    <td>{{ sortie.nbInscriptionsMax}}</td>
                                </tr>
                                <tr>
                                    <td>duree</td>
                                    <td>{{sortie.duree * 60}} minutes</td>
                                </tr>
                                <td>Description et infos:</td>
                                <td>{{ sortie.description }}<br>
                                </td>
                                <tr>
                                    <td>nbInscriptionsMax</td>
                                    <td>{{ sortie.nbInscriptionsMax }}</td>
                                </tr>
                                <tr>
                                    <td>Campus</td>
                                    <td>{{ sortie.campus }}</td>
                                </tr>
                                <tr>
                                    <td>Lieu</td>
                                    <td>{{ sortie.lieu }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="{{ path('accueil') }}" class="btn btn-primary">Retour</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav id="sidebar">
            <div class="p-4 pt-5">
                <h5>Liste des participants inscrits</h5>
                <ul class="list-unstyled components mb-5">
                    {% for inscription  in sortie.inscriptions %}
                        <li><a href="{{ path('afficherProfil', {'id': inscription.participant.id}) }}"><span class="fa fa-chevron-right mr-2"></span>{{ inscription.participant }}</a></li>
                    {% endfor %}
                </ul>
        </nav>
    </div>
</div>
{% endblock %}
